@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42028636');
  src: url('../font/fontello.eot?42028636#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?42028636') format('woff'),
       url('../font/fontello.ttf?42028636') format('truetype'),
       url('../font/fontello.svg?42028636#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42028636#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-dir:before { content: '\e800'; } /* '' */
.icon-volume-up:before { content: '\e801'; } /* '' */
.icon-dentist3:before  { background: url('../../../images/home/elderly.png') center no-repeat cover;}
/*.icon-dentist3:before { content: '\e802'; } /* '' */
.icon-dentist4:before { content: '\e803'; } /* '' */
.icon-dentist6        {  background: transparent url('/images/home/float-support.png')center no-repeat; 
                      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.icon-dentist7:before { content: '\e805'; } /* '' */
.icon-dentist8:before { content: '\e806'; } /* '' */
.icon-dentist18:before { content: '\e807'; } /* '' */
.icon-tooth3:before { content: '\e808'; } /* '' */
.icon-tooth4:before { content: '\e809'; } /* '' */
.icon-tooth8        { background: url('../../../images/home/learning-disability.png') center no-repeat; 
-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;} /* '' */
.icon-tooth9        { background: transparent url('/images/home/residential.png')center no-repeat; 
                      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; } /* '' */
.icon-tooth10       { background: url('../../../images/home/elderly.png') center no-repeat;
                      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;} /* '' */
.icon-tooth11       { background: url('/images/home/live-in-care.png') center no-repeat; 
                      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;} /* '' *//* '' */
.icon-tooth19       { background: url('../../../images/home/elderly.png') center no-repeat cover;}/*{ content: '\e80e'; } /* '' */
.icon-tooth20        { background: transparent url('/images/home/nursing-staff.png')center no-repeat; 
                      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;} /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-volume-off:before { content: '\e812'; } /* '' */
.icon-volume-down:before { content: '\e813'; } /* '' */
.icon-up-dir:before { content: '\e814'; } /* '' */
.icon-left-dir:before { content: '\e815'; } /* '' */
.icon-right-dir-1:before { content: '\e816'; } /* '' */
.icon-right-circled2:before { content: '\e817'; } /* '' */
.icon-left-circled2:before { content: '\e818'; } /* '' */
.icon-up-circled2:before { content: '\e819'; } /* '' */
.icon-volume-up-1:before { content: '\e81a'; } /* '' */
.icon-pause:before { content: '\e81b'; } /* '' */
.icon-play:before { content: '\e81c'; } /* '' */
.icon-to-end:before { content: '\e81d'; } /* '' */
.icon-to-end-alt:before { content: '\e81e'; } /* '' */
.icon-to-start:before { content: '\e81f'; } /* '' */
.icon-fast-fw:before { content: '\e820'; } /* '' */
.icon-fast-bw:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-search-1:before { content: '\e823'; } /* '' */
.icon-sound:before { content: '\e824'; } /* '' */
.icon-user:before { content: '\e825'; } /* '' */
.icon-star:before { content: '\e826'; } /* '' */
.icon-heart-empty:before { content: '\e827'; } /* '' */
.icon-check:before { content: '\e828'; } /* '' */
.icon-ok-1:before { content: '\e829'; } /* '' */
.icon-comment:before { content: '\e82a'; } /* '' */
.icon-comment-1:before { content: '\e82b'; } /* '' */
.icon-comment-inv:before { content: '\e82c'; } /* '' */
.icon-comment-alt2:before { content: '\e82d'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e82e'; } /* '' */
.icon-location:before { content: '\e82f'; } /* '' */
.icon-ok-2:before { content: '\e830'; } /* '' */
.icon-chart:before { content: '\e831'; } /* '' */
.icon-chart-bar:before { content: '\e832'; } /* '' */
.icon-chart-pie:before { content: '\e833'; } /* '' */
.icon-popup:before { content: '\e834'; } /* '' */
.icon-down-dir:before { content: '\e835'; } /* '' */
.icon-left-dir-1:before { content: '\e836'; } /* '' */
.icon-comment-2:before { content: '\e837'; } /* '' */
.icon-play-1:before { content: '\e838'; } /* '' */
.icon-comment-3:before { content: '\e839'; } /* '' */
.icon-heart-1:before { content: '\e83a'; } /* '' */
.icon-search-2:before { content: '\e83b'; } /* '' */
.icon-facebook-circled:before { content: '\e83c'; } /* '' */
.icon-vimeo-circled:before { content: '\e83d'; } /* '' */
.icon-twitter-circled:before { content: '\e83e'; } /* '' */
.icon-tumbler-circled:before { content: '\e83f'; } /* '' */
.icon-skype-outline:before { content: '\e840'; } /* '' */
.icon-pinterest-circled:before { content: '\e841'; } /* '' */
.icon-linkedin-circled:before { content: '\e842'; } /* '' */
.icon-lastfm-circled:before { content: '\e843'; } /* '' */
.icon-flickr-circled:before { content: '\e844'; } /* '' */
.icon-dribbble-circled:before { content: '\e845'; } /* '' */
.icon-at-circled:before { content: '\e846'; } /* '' */
.icon-gplus-circled:before { content: '\e847'; } /* '' */
.icon-facebook-circled-1:before { content: '\e848'; } /* '' */
.icon-twitter-circled-1:before { content: '\e849'; } /* '' */
.icon-vimeo-circled-1:before { content: '\e84a'; } /* '' */
.icon-pinterest-circled-1:before { content: '\e84b'; } /* '' */
.icon-tumblr-circled:before { content: '\e84c'; } /* '' */
.icon-linkedin-circled-1:before { content: '\e84d'; } /* '' */
.icon-flickr-circled-1:before { content: '\e84e'; } /* '' */
.icon-github-circled:before { content: '\e84f'; } /* '' */
.icon-dribbble-circled-1:before { content: '\e850'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e851'; } /* '' */
.icon-lastfm-circled-1:before { content: '\e852'; } /* '' */
.icon-rdio-circled:before { content: '\e853'; } /* '' */
.icon-skype-circled:before { content: '\e854'; } /* '' */
.icon-instagram:before { content: '\e855'; } /* '' */
.icon-cog:before { content: '\e856'; } /* '' */
.icon-ok-circle:before { content: '\e857'; } /* '' */
.icon-attention:before { content: '\e858'; } /* '' */
.icon-attach:before { content: '\e859'; } /* '' */
.icon-heart-empty-1:before { content: '\e85a'; } /* '' */
.icon-star-1:before { content: '\e85b'; } /* '' */
.icon-car10:before { content: '\e85c'; } /* '' */
.icon-car225:before { content: '\e85d'; } /* '' */
.icon-cars23:before { content: '\e85e'; } /* '' */
.icon-cars28:before { content: '\e85f'; } /* '' */
.icon-cars40:before { content: '\e860'; } /* '' */
.icon-cellphone67:before { content: '\e861'; } /* '' */
.icon-motor8:before { content: '\e862'; } /* '' */
.icon-transport107:before { content: '\e863'; } /* '' */
.icon-transport117:before { content: '\e864'; } /* '' */
.icon-transport131:before { content: '\e865'; } /* '' */
.icon-transport154:before { content: '\e866'; } /* '' */
.icon-transport166:before { content: '\e867'; } /* '' */
.icon-transport184:before { content: '\e868'; } /* '' */
.icon-vans1:before { content: '\e869'; } /* '' */
.icon-vehicle18:before { content: '\e86a'; } /* '' */
.icon-wrench99:before { content: '\e86b'; } /* '' */
.icon-music:before { content: '\e86c'; } /* '' */
.icon-note:before { content: '\e86d'; } /* '' */
.icon-cog-1:before { content: '\e86e'; } /* '' */
.icon-beaker:before { content: '\e86f'; } /* '' */
.icon-truck:before { content: '\e870'; } /* '' */
.icon-money:before { content: '\e871'; } /* '' */
.icon-food:before { content: '\e872'; } /* '' */
.icon-shop:before { content: '\e873'; } /* '' */
.icon-diamond:before { content: '\e874'; } /* '' */
.icon-wallet:before { content: '\e875'; } /* '' */
.icon-params:before { content: '\e876'; } /* '' */
.icon-calendar:before { content: '\e877'; } /* '' */
.icon-sound-1:before { content: '\e878'; } /* '' */
.icon-clock:before { content: '\e879'; } /* '' */
.icon-lightbulb:before { content: '\e87a'; } /* '' */
.icon-star-2:before { content: '\e87b'; } /* '' */
.icon-user-1:before { content: '\e87c'; } /* '' */
.icon-mail:before { content: '\e87d'; } /* '' */
.icon-videocam:before { content: '\e87e'; } /* '' */
.icon-camera:before { content: '\e87f'; } /* '' */
.icon-tv:before { content: '\e880'; } /* '' */
.icon-desktop:before { content: '\e881'; } /* '' */
.icon-photo:before { content: '\e882'; } /* '' */
.icon-t-shirt:before { content: '\e883'; } /* '' */
.icon-mobile:before { content: '\e884'; } /* '' */
.icon-cd:before { content: '\e885'; } /* '' */
.icon-eye:before { content: '\e886'; } /* '' */
.icon-globe:before { content: '\e887'; } /* '' */
.icon-tag:before { content: '\e888'; } /* '' */
.icon-inbox:before { content: '\e889'; } /* '' */
.icon-cloud:before { content: '\e88a'; } /* '' */
.icon-thumbs-up:before { content: '\e88b'; } /* '' */
.icon-pencil:before { content: '\e88c'; } /* '' */
.icon-paper-plane:before { content: '\e88d'; } /* '' */
.icon-fire:before { content: '\e88e'; } /* '' */
.icon-graduation-cap:before { content: '\e88f'; } /* '' */
.icon-location-1:before { content: '\e890'; } /* '' */
.icon-cup:before { content: '\e891'; } /* '' */
.icon-megaphone:before { content: '\e892'; } /* '' */
.icon-database:before { content: '\e893'; } /* '' */
.icon-trash:before { content: '\e894'; } /* '' */
.icon-doc:before { content: '\e895'; } /* '' */
.icon-key:before { content: '\e896'; } /* '' */
.icon-lock:before { content: '\e897'; } /* '' */
.icon-aboveground-rail:before { content: '\e898'; } /* '' */
.icon-fast-food:before { content: '\e899'; } /* '' */
.icon-pitch:before { content: '\e89a'; } /* '' */
.icon-tree-1:before { content: '\e89b'; } /* '' */
.icon-tree-2:before { content: '\e89c'; } /* '' */
.icon-warehouse:before { content: '\e89d'; } /* '' */
.icon-police:before { content: '\e89e'; } /* '' */
.icon-post:before { content: '\e89f'; } /* '' */
.icon-ferry:before { content: '\e8a0'; } /* '' */
.icon-fire-station:before { content: '\e8a1'; } /* '' */
.icon-airfield:before { content: '\e8a2'; } /* '' */
.icon-airport:before { content: '\e8a3'; } /* '' */
.icon-art-gallery:before { content: '\e8a4'; } /* '' */
.icon-football:before { content: '\e8a5'; } /* '' */
.icon-prison:before { content: '\e8a6'; } /* '' */
.icon-rail:before { content: '\e8a7'; } /* '' */
.icon-fuel:before { content: '\e8a8'; } /* '' */
.icon-bar:before { content: '\e8a9'; } /* '' */
.icon-baseball:before { content: '\e8aa'; } /* '' */
.icon-garden:before { content: '\e8ab'; } /* '' */
.icon-religious-christian:before { content: '\e8ac'; } /* '' */
.icon-religious-islam:before { content: '\e8ad'; } /* '' */
.icon-giraffe:before { content: '\e8ae'; } /* '' */
.icon-golf:before { content: '\e8af'; } /* '' */
.icon-religious-jewish:before { content: '\e8b0'; } /* '' */
.icon-restaurant:before { content: '\e8b1'; } /* '' */
.icon-grocery-store:before { content: '\e8b2'; } /* '' */
.icon-beer:before { content: '\e8b3'; } /* '' */
.icon-basketball:before { content: '\e8b4'; } /* '' */
.icon-belowground-rail:before { content: '\e8b5'; } /* '' */
.icon-bicycle:before { content: '\e8b6'; } /* '' */
.icon-harbor:before { content: '\e8b7'; } /* '' */
.icon-roadblock:before { content: '\e8b8'; } /* '' */
.icon-school:before { content: '\e8b9'; } /* '' */
.icon-heliport:before { content: '\e8ba'; } /* '' */
.icon-bus:before { content: '\e8bb'; } /* '' */
.icon-cafe:before { content: '\e8bc'; } /* '' */
.icon-hospital:before { content: '\e8bd'; } /* '' */
.icon-skiing:before { content: '\e8be'; } /* '' */
.icon-industrial-building:before { content: '\e8bf'; } /* '' */
.icon-shop-1:before { content: '\e8c0'; } /* '' */
.icon-campsite:before { content: '\e8c1'; } /* '' */
.icon-cemetery:before { content: '\e8c2'; } /* '' */
.icon-cinema:before { content: '\e8c3'; } /* '' */
.icon-lodging:before { content: '\e8c4'; } /* '' */
.icon-library:before { content: '\e8c5'; } /* '' */
.icon-soccer:before { content: '\e8c6'; } /* '' */
.icon-swimming:before { content: '\e8c7'; } /* '' */
.icon-tennis:before { content: '\e8c8'; } /* '' */
.icon-london-underground:before { content: '\e8c9'; } /* '' */
.icon-college:before { content: '\e8ca'; } /* '' */
.icon-commerical-building:before { content: '\e8cb'; } /* '' */
.icon-minefield:before { content: '\e8cc'; } /* '' */
.icon-theatre:before { content: '\e8cd'; } /* '' */
.icon-toilet:before { content: '\e8ce'; } /* '' */
.icon-monument:before { content: '\e8cf'; } /* '' */
.icon-credit-card:before { content: '\e8d0'; } /* '' */
.icon-cricket:before { content: '\e8d1'; } /* '' */
.icon-museum:before { content: '\e8d2'; } /* '' */
.icon-town-hall:before { content: '\e8d3'; } /* '' */
.icon-trash-1:before { content: '\e8d4'; } /* '' */
.icon-pharmacy:before { content: '\e8d5'; } /* '' */
.icon-embassy:before { content: '\e8d6'; } /* '' */
.icon-location-2:before { content: '\e8d7'; } /* '' */
.icon-chat:before { content: '\e8d8'; } /* '' */
.icon-comment-alt:before { content: '\e8d9'; } /* '' */
.icon-comment-4:before { content: '\e8da'; } /* '' */
.icon-retweet:before { content: '\e8db'; } /* '' */
.icon-code:before { content: '\e8dc'; } /* '' */
.icon-forward:before { content: '\e8dd'; } /* '' */
.icon-reply:before { content: '\e8de'; } /* '' */
.icon-mail-1:before { content: '\e8df'; } /* '' */
.icon-heart-2:before { content: '\e8e0'; } /* '' */
.icon-search-3:before { content: '\e8e1'; } /* '' */
.icon-cancel:before { content: '\e8e2'; } /* '' */
.icon-cancel-circle:before { content: '\e8e3'; } /* '' */
.icon-plus-circle:before { content: '\e8e4'; } /* '' */
.icon-minus-circle:before { content: '\e8e5'; } /* '' */
.icon-link:before { content: '\e8e6'; } /* '' */
.icon-attach-1:before { content: '\e8e7'; } /* '' */
.icon-lock-1:before { content: '\e8e8'; } /* '' */
.icon-logout:before { content: '\e8e9'; } /* '' */
.icon-signal:before { content: '\e8ea'; } /* '' */
.icon-googleplus-rect:before { content: '\e8eb'; } /* '' */
.icon-tumblr-rect:before { content: '\e8ec'; } /* '' */
.icon-vimeo-rect:before { content: '\e8ed'; } /* '' */
.icon-twitter-bird:before { content: '\e8ee'; } /* '' */
.icon-facebook-rect:before { content: '\e8ef'; } /* '' */
.icon-terminal:before { content: '\e8f0'; } /* '' */
.icon-cloud-1:before { content: '\e8f1'; } /* '' */
.icon-down-dir-1:before { content: '\e8f2'; } /* '' */
.icon-right-dir-2:before { content: '\e8f3'; } /* '' */
.icon-down-micro:before { content: '\e8f4'; } /* '' */
.icon-up-micro:before { content: '\e8f5'; } /* '' */
.icon-cw-circle:before { content: '\e8f6'; } /* '' */
.icon-arrows-cw:before { content: '\e8f7'; } /* '' */
.icon-updown-circle:before { content: '\e8f8'; } /* '' */
.icon-target:before { content: '\e8f9'; } /* '' */
.icon-rss-alt:before { content: '\e8fa'; } /* '' */
.icon-rss:before { content: '\e8fb'; } /* '' */
.icon-folder:before { content: '\e8fc'; } /* '' */
.icon-archive:before { content: '\e8fd'; } /* '' */
.icon-docs-landscape:before { content: '\e8fe'; } /* '' */
.icon-doc-1:before { content: '\e8ff'; } /* '' */
.icon-ok-3:before { content: '\e900'; } /* '' */
.icon-th-list:before { content: '\e901'; } /* '' */
.icon-th:before { content: '\e902'; } /* '' */
.icon-th-large:before { content: '\e903'; } /* '' */
.icon-picture:before { content: '\e904'; } /* '' */
.icon-video:before { content: '\e905'; } /* '' */
.icon-user-2:before { content: '\e906'; } /* '' */
.icon-reply-all:before { content: '\e907'; } /* '' */
.icon-tag-1:before { content: '\e908'; } /* '' */
.icon-lock-open:before { content: '\e909'; } /* '' */
.icon-clock-1:before { content: '\e90a'; } /* '' */
.icon-block:before { content: '\e90b'; } /* '' */
.icon-progress-1:before { content: '\e90c'; } /* '' */
.icon-progress-0:before { content: '\e90d'; } /* '' */
.icon-linkedin-rect:before { content: '\e90e'; } /* '' */
.icon-skype:before { content: '\e90f'; } /* '' */
.icon-vkontakte-rect:before { content: '\e910'; } /* '' */
.icon-youtube:before { content: '\e911'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e912'; } /* '' */
.icon-progress-4:before { content: '\e913'; } /* '' */
.icon-progress-3:before { content: '\e914'; } /* '' */
.icon-progress-2:before { content: '\e915'; } /* '' */
.icon-progress-5:before { content: '\e916'; } /* '' */
.icon-progress-6:before { content: '\e917'; } /* '' */
.icon-progress-7:before { content: '\e918'; } /* '' */
.icon-resize-full:before { content: '\e919'; } /* '' */
.icon-resize-full-circle:before { content: '\e91a'; } /* '' */
.icon-popup-1:before { content: '\e91b'; } /* '' */
.icon-left-open:before { content: '\e91c'; } /* '' */
.icon-right-open:before { content: '\e91d'; } /* '' */
.icon-down-circle:before { content: '\e91e'; } /* '' */
.icon-left-circle:before { content: '\e91f'; } /* '' */
.icon-font:before { content: '\e920'; } /* '' */
.icon-list:before { content: '\e921'; } /* '' */
.icon-right-circle:before { content: '\e922'; } /* '' */
.icon-up-circle:before { content: '\e923'; } /* '' */
.icon-list-numbered:before { content: '\e924'; } /* '' */
.icon-indent-left:before { content: '\e925'; } /* '' */
.icon-indent-right:before { content: '\e926'; } /* '' */
.icon-circle:before { content: '\e927'; } /* '' */
.icon-down-circled2:before { content: '\e928'; } /* '' */
.icon-minus:before { content: '\e929'; } /* '' */
.icon-plus:before { content: '\e92a'; } /* '' */
.icon-down-open:before { content: '\e92b'; } /* '' */
.icon-up-open:before { content: '\e92c'; } /* '' */
.icon-angle-left:before { content: '\e92d'; } /* '' */
.icon-angle-right:before { content: '\e92e'; } /* '' */
.icon-linkedin:before { content: '\e92f'; } /* '' */
.icon-facebook:before { content: '\e930'; } /* '' */
.icon-git:before { content: '\e931'; } /* '' */
.icon-github:before { content: '\e932'; } /* '' */
.icon-dropbox:before { content: '\e933'; } /* '' */
.icon-google:before { content: '\e934'; } /* '' */
.icon-gplus:before { content: '\e935'; } /* '' */
.icon-skype-1:before { content: '\e936'; } /* '' */
.icon-tumblr:before { content: '\e937'; } /* '' */
.icon-twitter:before { content: '\e938'; } /* '' */
.icon-vine:before { content: '\e939'; } /* '' */
.icon-truck-1:before { content: '\e93a'; } /* '' */
.icon-medkit:before { content: '\e93b'; } /* '' */
.icon-money-1:before { content: '\e93c'; } /* '' */
.icon-dollar:before { content: '\e93d'; } /* '' */
.icon-ok-circled2:before { content: '\e93e'; } /* '' */
.icon-file-word:before { content: '\e93f'; } /* '' */
.icon-file-powerpoint:before { content: '\e940'; } /* '' */
.icon-file-pdf:before { content: '\e941'; } /* '' */
.icon-star-3:before { content: '\e942'; } /* '' */
.icon-star-empty:before { content: '\e943'; } /* '' */
.icon-award:before { content: '\e944'; } /* '' */
.icon-child:before { content: '\e945'; } /* '' */
.icon-play-circled2:before { content: '\e946'; } /* '' */
.icon-menu:before { content: '\e947'; } /* '' */